<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>

<div class="container cart">
    <% if (orders.length ) { %>
    <div class="row">
        <div id="admin-table" class="col-md-11 col-sm-12 m-auto table-responsive" style="height: 500px; overflow-x: scroll;">
            <table class="table text-center table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Buyer's Name</th>
                        <th>Items Quantity</th>
                        <th>Total Price</th>
                        <th>Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach( order => { %> <% if(order != null) {%>
                    <tr class="my-auto">
                        <td class="text-center">
                            <%=order.user.name%>
                        </td>
                        <td class="text-center">
                            <%=order.cart.totalQty%>
                        </td>
                        <td class="text-center">
                            <%=order.cart.totalCost%>$
                        </td>
                        <td class="text-center">
                            <%=order.status%>
                        </td>
                    </tr>
                    <% } %> <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%} else { %>
        <h3 class="text-center" >There are no orders in the system yet</h3>
      <%} %>
</div>

<hr>
<br/>
<br/>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" id="scatter-graph-container">
        <svg id="scatter-svg"></svg>
    </div>
    <!-- Create a div where the graph will take place -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" id="bar-graph-container">
        <svg id="bar-svg"></svg>
    </div>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="/js/connected-scatter-graph.js"></script>
    <script src="/js/bar-graph.js"></script>

</div>


<%- include ("../partials/footer") %>